<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">

img {
	border: 1px solid #ccc;
	
	width: 300px;
	height: 200px;
	
	float: left;
	
/* 	margin: 10px; */
/* 	margin: 0.5em; */
	margin: 0.75em;
}


</style>
</head>
<body>

<h1>float속성 활용하기</h1>
<h3>이미지와 텍스트의 배치</h3>
<hr>

<img alt="페페더 프로그" src="../resources/img/Pepe.jpg">

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque pulvinar elementum dui et sollicitudin. Integer maximus odio metus, eget fringilla sapien lobortis ut. Proin rhoncus eros sed mi pharetra, eget interdum velit ornare. Duis metus ante, euismod venenatis hendrerit sed, ultrices in magna. Aenean enim arcu, commodo ac ex a, euismod dignissim massa. Mauris ex nisi, scelerisque aliquet pellentesque at, tempor vitae turpis. Vestibulum metus urna, sagittis ac congue vel, hendrerit et magna. Sed tempor augue eget diam congue, et ultrices nulla vestibulum. Phasellus volutpat, mauris in congue mollis, sapien risus eleifend velit, id volutpat erat massa in libero. Etiam placerat tortor eu turpis tincidunt aliquam. Etiam lobortis tortor non turpis dapibus, eu pharetra nisi lacinia. Morbi at leo magna. Sed vestibulum tincidunt turpis ut luctus. Integer varius, nisl at placerat scelerisque, leo velit dictum mi, quis interdum velit odio sit amet mi.</p>

<p>Nulla facilisi. Suspendisse non vehicula risus, a imperdiet tellus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris viverra vehicula faucibus. Praesent eu erat varius, varius turpis ac, malesuada augue. Donec nec nunc turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed vulputate consequat posuere. Donec at cursus orci, et malesuada risus. Phasellus a mauris neque.</p>

<p>Nullam blandit, ex ut convallis pellentesque, urna ligula dignissim urna, at lacinia elit augue id magna. Donec blandit non nibh sit amet aliquam. Nunc eleifend est in elit pellentesque bibendum. Curabitur lectus metus, dapibus molestie neque at, ullamcorper auctor arcu. Praesent ex tortor, faucibus in dignissim sit amet, ultricies in augue. Suspendisse ut vehicula nulla. Vivamus luctus libero sed tortor scelerisque, non imperdiet sem auctor.</p>
</body>
</html>