<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="web.dao.face.MemberDao">

<!-- java.lang.ClassNotFoundException: Cannot find class: Member 에러 발생! -> parameterType을 잘 봐야 한다.-->
<!-- 이때 parameterType에 dto클래스의 Full Name을 적지 않으면(aliases가 없는 한) 에러가 발생한다 -->
<!-- 	<select id="selectCntMemberByUseridUserpw" resultType="int" parameterType="Member"> -->
	<select id="selectCntMemberByUseridUserpw" resultType="int" parameterType="web.dto.Member">
		SELECT count(*) cnt FROM member
		<where>
			AND userid = #{userid }
			AND userpw = #{userpw }
		</where>
	</select>
	
	<select id="selectMemberByUserid" resultType="web.dto.Member" parameterType="web.dto.Member">
		SELECT * FROM member
		<where>
			AND userid = #{userid }
			AND userpw = #{userpw }
		</where>
	</select>
	
	<insert id="insert" parameterType="web.dto.Member">
		INSERT INTO member( userid, userpw, usernick )
		 VALUES ( #{userid}, #{userpw}, #{usernick})
	</insert>
</mapper>