<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Configuration DTD -->
<!-- DTD(DOCTYPE, Document Type Definition) -->
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<!-- 최상위 부모 태그 -->
<!-- 마이바티스 3의 설정 항목을 넣는 태그 -->
<configuration>
	<properties resource="mybatis/db.properties" />
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<package name="dto"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:xe"/>
				<property name="username" value="scott"/>
				<property name="password" value="tiger"/>
			</dataSource>
		</environment>
	</environments>

	<!-- SQL쿼리들을 작성해둘 마이바티스 매퍼(Mapper) 파일들의 위치를 설정한다 -->
	<mappers>
		<mapper resource="dao/mapper/LoginMapper.xml"/>
	</mappers>

</configuration>