<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.EmpDao">

	<select id="selectAll">
		SELECT empno, ename, job, mgr,
			 hiredate, sal, comm, deptno FROM emp
	</select>
	
	<select id="selectByEmpno" parameterType="dto.Emp">
		SELECT empno, ename, job, mgr,
			 hiredate, sal, comm, deptno FROM emp
			<where>
				AND empno = #{empno }
			</where>
	</select>
	
	<insert id="insertEmp" parameterType="dto.Emp">
		INSERT INTO emp (empno, ename, job, mgr
		, hiredate, sal, comm, deptno)
		VALUES ( #{empno}, #{ename}, #{job}, #{mgr}
			 , #{hiredate}, #{sal}, #{comm}, #{deptno} )
	</insert>
	
	<delete id="deleteByEmpNo" parameterType="dto.Emp">
		DELETE FROM emp
		<where>
			AND empno = #{empno}
		</where>
	</delete>
</mapper>