<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Board</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/views/main.jsp</welcome-file>
<!--     views/main.jsp를 /페이지로 정의하는 경로 -->
<!--     web.xml 만드는 방법
 프로젝트명 마우스 우클릭 -> Java EE Tools -> Generate Deployment Descriptor Web 클릭 -->
  </welcome-file-list>
</web-app>